<app-carousel [carousel]="carousel"></app-carousel>

<div class="row row-cols-1 row-cols-md-3 g-4 my-4 mx-3">
    <app-target *ngFor="let target of targets" [target]="target"></app-target>
</div>

<div class="category-container mx-3">
    <H2>Categorías</H2>

    <div class="categories">
        <app-category (onCategorySelected)="getAllProducts()" [category]="allCategory"></app-category>
        <app-category (onCategorySelected)="getAllProductsOfCategory($event)" *ngFor="let category of categories" [category]="category"></app-category>
    </div>
</div>

<div class="container">
    <div class="row">
    <app-product class="col-md-3" *ngFor="let product of products" [product]="product" ></app-product>
    </div> 
</div> 