<div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">

    <div class="carousel-inner" *ngIf="carousel">

            <div class="carousel-item active" data-bs-interval="10000" *ngFor="let itemCarousel of carousel let i = index" [ngClass]="{'active': i == 0}">
                <img src="{{itemCarousel.getImage()}}" class="d-block w-100 carrousel-image" alt="{{itemCarousel.getDescription()}}">
                <p class="description">{{itemCarousel.getDescription()}}</p>
            </div>


    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
