<div class="container-about container">
    <div class="about-content">
        <div class="about-us row">
            <div class="about-image col-md-5 col-sm-12">
                <img src="https://images.unsplash.com/photo-1441986300917-64674bd600d8?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80" alt="Imagen de ejemplo">
            </div>
            <div class="text col-md-6 col-sm-12">
                <h2>Sobre Nosotros</h2>
                <p>Somos una tienda de ropa dedicada a ofrecer las últimas tendencias 
                    en moda para hombres y mujeres. Desde nuestra fundación, 
                    nos hemos esforzado por seleccionar cuidadosamente las prendas de vestir y 
                    accesorios más actuales y de la mejor calidad para nuestros clientes. Nuestro equipo de expertos en moda está siempre dispuesto a ayudarte a encontrar el look perfecto para cualquier ocasión. ¡Ven a visitarnos y descubre todo lo que tenemos para ofrecer!</p>
            </div>
        </div>
        <div class="about-us row">
            <div class="about-image col-md-5 col-sm-12 order-md-2">
                <img src="https://images.unsplash.com/photo-1485348616965-15c926318fbb?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1550&q=80" alt="Imagen de ejemplo">
            </div>
            <div class="text col-md-6 col-sm-12 order-md-1">
                <h2>Dónde encontrarnos</h2>
                <p>Nos encontramos en el corazón de la ciudad, en la calle principal del centro histórico. 
                    Estamos ubicados en un edificio de estilo modermno, con una fachada amplia y acogedora que hace juego con nuestro concepto de tienda. Ven a visitarnos y descubre las últimas tendencias de moda y estilo para ti.</p>

            </div>
        </div>
    </div>
</div>