$white-color: #FFFFFF;
$black-color: #000000;

$primary-color: #ec3c68;
$light-gray-color: rgb(237, 238, 240);
$gray-hover-color: rgb(222, 225, 232);
$gray-color: rgb(124, 117, 117);

$box-shadow: rgba(100, 100, 111, 0.171) 0px 7px 29px 0px;
